extends layout

block content

    .container
        center 
             p.subtitle 404 Not Found

    .container
        center
            a(href='/') Create note 
            br
            small Notes v#{version}
