block content

    include header

    .container
        form(method='POST', action='/create')
            textarea.textarea(placeholder='Your note', name='note')
            input.input(name='passphrase' type='text', placeholder='Passphrase' value=`${passphrase}`)
            button.button.is-primary Create

    br 

    .container
        center
            small Notes v#{version}