html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title= title

        link(rel='stylesheet', href='/css/bulma.min.css')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon')
        script(defer, src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
        script(src='/js/main.js')
    body
        block content