block content

    include header

    .container
        .notification.is-white
            b Note created!
            br
            | Copy this URL and send to the recipient. 
            b Attention! 
            | The note will be destroyed after reading.
            br 
            br
            code(id='url') #{protocol}://#{host}:#{port}/view/#{hash}/#{passphrase}
            br
            br
            button.button.is-primary(id='copyButton', onclick='toClipboard("url")') Copy to clipboard
    
    br

    .container
        center
            a(href='/') Create note
            br
            small Notes v#{version}
