block content

    include header

    .container
        textarea.textarea #{encData}

    br

    .container
        center
            a(href='/') Create note
            br
            small Notes v#{version}