body {
    background-color: #eee !important;
    color: #999;
}

.logo {
    background-image: url('../images/logo.png');
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 10px;
}

.container {
    width: 900px;
}

.container #header {
    padding: 60px;
}

.container h1 {
    color: #555;
    font-size: 32px;
    align: left;
}

.container p {
    color: #555;
    font-size: 16px;
}

.container textarea {
    height: 350px !important;
    background-color: #fff;
    color: #111;
    padding: 20px;
}

.container input {
    margin-top: 10px;
    background-color: #fff;
    color: #111;
    padding: 20px;
}

.container button {
    margin-top: 10px;
    width: 100%;
}
